*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color:white ;
    background-color:#1A0B2E ;
    font-family: "Inter", sans-serif;
}
.gradient{
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}

.btn-primary{
    padding: 0.75em 1em;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10000px;
    border: none;
}

/* Nav Bar styles */

nav{
    padding: 1rem 12.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    gap: 2rem;
    list-style: none;
}
.hambarger-menu{
    display: none;
}
.link{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}

.logo-wave{
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Banner section styles */
.banner{
    background-image: url(./assets/hero-bg.png);
    background-size: 100vw;
   background-repeat: no-repeat;
}
.banner-container{
            width: 21.875rem;
            height: 21.875rem;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
    
}
.box{
    position: relative;
    
}
.size{
    max-width: 100%;
    height: auto;
}
.microphone{
    right: 140px;
}
.microphone-new{
  top: -80px;
  left: 220px;
  z-index: 1;
}

.new-btn{
    padding: 0.5rem 1rem;
    border-radius: 1000px;
    background-color: #00FF88;
    box-shadow: 0 3px 27px 0 #00FF8850;
    color: black;
    font-size: 1.125rem;
    font-weight: 600;
    border: none;
}
.banner-description{
    text-align: center;
}
.banner-title{
    font-size: 3.75rem;
    font-weight: 600;
}
.banner-info{
    color: #FFFFFF80;
    margin-top: 0.5rem;
}
.btn-subscribe{
    padding: 0.75rem 1.25rem;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    color: #00FF88;
    background-color: transparent;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 1.5rem;
}

/* About Section Styles */
.about{
padding: 3.125vw 12.5vw 7.5vw 12.5vw;
text-align: center;
}
.about-title{
    font-size: 3rem;
    font-weight: bold;
}
.about-info{
    margin-top: 1rem;
    line-height: 1.25rem;
    color: #FFFFFF80;
}
hr{
    margin-top: 5rem;
    margin-bottom: 5rem;
    border: 1px solid #FFFFFF10;
}

.card-title{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
}
.card-info{
    line-height: 1.25rem;
color: #FFFFFF80;
}
.star{
    font-size: 2rem;
}
.about-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5rem;
}

@media screen and (max-width:576px) {
   
   nav{
     padding: 1rem 1.25rem;
   }
    .hambarger-menu{
    display:block;
}
.subscribe, .menu-bar{
    display: none;
}
.about{
padding: 2.5rem 1.25rem;
}
.about-title{
    font-size: 2rem;
}
.about-card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2.5rem;
}
}